.blog {
  padding: 2rem;
  &-content {
    @include flex-column;
    margin-top: 4rem;
  }

  .article {
    width: auto;
    margin: 1rem 0;
    background: $light-grayish-magneta;
    border-radius: 20px;
    overflow: hidden;

    &-sup {
      margin: 2rem 0;
    }
    &-text {
      margin-bottom: 1rem;
    }
    &-photo {
      display: block;
      width: 100%;
    }
  }
}
