.header {
  background: $magneta;
  height: 120px;
  position: relative;
  .logo {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2rem;
    color: #fff;
  }
  .navbar {
    width: 100%;
    @include flex-center;
    min-height: 70vh;
    text-align: center;
    background-color: $dark-magneta-clr;
    transform: translateY(-1000px);
    transition: $transition-slow;
    &-item {
      margin-bottom: 1.5rem;
    }
    &-link {
      text-transform: uppercase;
      color: $light-grayish-magneta;
      font-size: 1.2rem;
      transition: $transition-slow;
      padding-bottom: 0.3rem;
      &:hover {
        color: $light-blue;
        border-bottom: 2px solid $light-blue;
      }
    }
  }
  .hamburger-menu:checked ~ .navbar {
    transform: translateY(0);
  }
  .hamburger-menu {
    display: none;
  }

  .menu {
    position: absolute;
    cursor: pointer;
    top: 65px;
    right: 20px;
    width: 50px;
    height: 4px;
    background: $light-magneta;
    border-radius: 40px;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 50px;
      height: 4px;
      background: $light-magneta;
      border-radius: 40px;
    }
    &:before {
      content: '';
      top: 10px;
    }
    &:after {
      content: '';
      bottom: 10px;
    }
  }
}
// end of header
.hero {
  padding: 1rem;
  margin: 2rem 0;
  min-height: 75vh;
  &-title {
    text-align: center;
    font-size: 1.8rem;
    color: $dark-magneta-clr;
  }
  &-photo {
    display: none;
  }
  &-boxes {
    max-width: 300px;
    display: grid;
    margin: 2rem auto;
    grid-template-areas:
      '. . a b'
      '. c d .'
      'e f . .';
  }
  .box {
    width: 60px;
    height: 60px;
    margin: 0.2rem;
    @include flex-center;
    color: $white;
    transition: $transition-slow;
  }
  .box-1 {
    background: $dark-magneta-clr;
    border-radius: 8px;
    border-top-right-radius: 0;
    grid-area: a;
    animation: slideFromRight 0.6s linear 1;
  }
  .box-2 {
    background: $dark-blue;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    grid-area: b;
    animation: slideFromLeft 0.8s linear 1;
  }
  .box-3 {
    background: $light-blue;
    border-radius: 8px;
    border-radius: 50%;
    grid-area: c;
    animation: slideFromBottom 1s linear 1;
  }
  .box-4 {
    background: $light-magneta;
    border-radius: 8px;
    border-radius: 50%;
    border-top-right-radius: 0;
    grid-area: d;
    animation: slideFromTop 1.2s linear 1;
  }
  .box-5 {
    background: $Pink;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    grid-area: e;
    animation: slideLefty 1.4s linear 1;
  }
  .box-6 {
    background: $light-grayish-magneta;
    border-radius: 8px;
    color: $dark-blue;
    border-radius: 50%;
    grid-area: f;
    animation: slideRighty 1.6s linear 1;
  }
  p {
    font-size: 1.3rem;
  }
}
// boxes animation
@keyframes slideFromRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFromLeft {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideFromBottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideFromTop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideLefty {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideRighty {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
// footer
.footer {
  height: 100px;
  background: $dark-blue;
  &-content {
    @include flex-s-evenly;
    padding-top: 2rem;
  }
  &-link {
    color: $white;
    font-size: 1.8rem;
    transition: $transition-fast;
    &:hover {
      color: $light-blue;
    }
  }
}
