@media (min-width: 800px) {
  .header {
    .content {
      @include flex-s-between;
      padding-top: 3rem;
    }
    .logo {
      background: $dark-blue;
      padding: 2rem;
      border-radius: 20px;
      border-bottom-right-radius: 0;
    }
    .navbar {
      transform: translateY(0);
      width: 400px;
      min-height: 0;
      background: none;
      &-items {
        display: flex;
      }
      &-item {
        margin-left: 1rem;
      }
    }
    .menu {
      display: none;
    }
  }
  .hero {
    &-photo {
      display: block;
      width: 80%;
      margin: 0 auto;
    }
    &-title {
      font-size: 2.4rem;
    }
    &-content {
      @include flex-s-between;
    }
    .box {
      max-width: 100px;
      max-height: 100px;
    }
    .boxes {
      max-width: 600px;
    }
  }
  // project
  .project {
    margin-top: 3rem;
    height: 80vh;
    &-content {
      @include flex-center;
    }
  }
  .card-1,
  .card-2,
  .card-3 {
    margin: 0 1rem;
    flex: 0.3;
  }
  // tools
  .tools {
    &-content {
      @include flex-s-around;
    }
  }
}
